* {
  margin: 0px;
  padding: 5px;
}

html {
  background-color: rgb(1, 86, 81);
}

main {
  width: 80%;
  margin: auto !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "column";
}

h1 {
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 3px;
}

input {
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: rgb(188, 231, 217);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

h3 {
  color: white;
  padding: 50px 10px;
}

.card {
  border: solid 2px lightgreen;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.card-content {
  text-align: center;
  padding: 10px;
  background-color: cadetblue;
}

.charName {
  color: white;
  font-weight: 700;
}

.profilePic {
  border-radius: 50%;
  margin-left: 0px;
  margin-top: -50px;
}

.green-dot {
  font-size: 10px;
}
